
/* travis - preview
ryan - on click to playlist
  local storage
  Devon - getting audio connected
  Madeline - jumbotron */




h1 {
  text-align: center;
}

.col-12 {
 font-family: 'Teko', sans-serif;;
}

body {
  /* font-family: sans-serif; */
  background-color: #264653;
  
}

.main {
      scroll-padding-top: 70px; /* height of sticky header */
  
}

/* .wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
} */

header {
  /* position: fixed; */
  width: 100%;
  font-family: 'Teko', sans-serif;
  background-color: #2a9d8f;
  text-align: center;
  padding: 10px;
  color: #264653;
  border-bottom: 5px solid #e9c46a;
}



#searchButton {
  float: left;
  width: 33%;
}

#carousel {
  float: right;
  width: 66%;
}

button {
  border: none;
  background-color: #e9c46a;
  border-radius: 15px;
  box-shadow: #264653;
  color: #264653;
  /* display: inline-block; */
  font-size: 22px;
  font-family: 'Teko', sans-serif;  
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  font-size: medium;
}

button:hover {
  background-color: #f4a261;
}

/* #searchButton {
  border: none;
  background-color: #e9c46a;
  border-radius: 15px;
  box-shadow: #264653;
  color: #264653;
  display: inline-block;
  font-size: 22px;
  font-family: 'Teko', sans-serif;  
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  font-size: medium;
}

button:hover {
  background-color: #f4a261;
} */


footer {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
  background-color: #2a9d8f;
  padding: 15px;
  text-align: center;
  font-size: small;
}
#search{
  float: left;
  width: 100%;
}
.row{
  width: 100%
  
}
.scroll{
    margin:4px, 4px; 
    padding:4px; 
    background-color:  #264653; 
    width: 500px; 
    height: 495px; 
    overflow-x: hidden; 
    overflow-y: auto; 
    text-align:justify; 
}
.list-group-item{
  border: solid;
}
